table,tr,td {
	border: 1px solid black;
}

td {
	padding: 5px;
}

table.bigTable tr {
	height: 80px;
}

.bigTable tr:first-child td:first-child {
	font-size: 40px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

table.bigTable tr:nth-child(2) td {
	vertical-align: top;
}

table.bigTable tr:nth-child(2) > td:nth-child(2) {
	text-align: right;
}

.bigTable tr:nth-child(3) > td:nth-child(1) {
	text-align:center;
	vertical-align:top;
}

.bigTable tr:nth-child(3) > td:nth-child(2), .bigTable tr:nth-child(3) > td:nth-child(4) {
	text-align:left;
	vertical-align:center;
}

.bigTable tr:nth-child(3) > td:nth-child(3) {
	text-align:center;
	vertical-align:bottom;
}

.bigTable tr:nth-child(4) > td:nth-child(1) {
	text-align:right;
	vertical-align:bottom;
}

.bigTable tr:nth-child(4) > td:nth-child(2) {
	text-align:left;
	vertical-align:bottom;
}

.bigTable tr:nth-child(4) > td:nth-child(3) {
	text-align:center;
	vertical-align:center;
	padding-left: 20px;
}

.bigTable tr:nth-child(5) > td:nth-child(1) {
	text-align:right;
	vertical-align:center;
	font-weight: bold;
	font-size: 24px;
}

table.bigTable table.insideTable  tr > td:first-child {
	text-align: center;
	font-size: 10px;
	padding: 10px;
	font-weight: bold;
	vertical-align: center;
}

table.bigTable table.insideTable tr {
	height: 30px;
}





