footer {
	box-sizing: border-box;
	width: 1303px;
	height: 285px;
	background-color: #234465;
	
}
footer div {
	display:inline-block;
	margin-top: 55px;
	vertical-align: top;
}

div.footerButtons {
	box-sizing: border-box;
	width: 190px;
	margin-left: 120px;
	vertical-align: top;
}

h3 {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	text-transform: uppercase;
	color: #ff9142;
}

div.linksMenu {
	box-sizing: border-box;
	width: 200px;
}

div.linksMenu:nth-child(4) {
	width: 250px;
}

div.linksMenu ul {
    display: inline-block;
    list-style: none;
    padding: 0px;
}

div.linksMenu>ul>li {
	color:white;
	font-size: 14px;
	padding-bottom: 8px;
}

div.linksMenu>ul>li>a>img {
	padding-right: 8px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #ff9142;
}

button {
	display:inline-block;
	box-sizing: border-box;
	width: 160px;
	height: 44px;
	border: 2px solid #ff9142;
	color: white;
	background-color: transparent;
	margin-bottom: 9px;
	font-size: 12px;
}

button:hover {
	cursor: pointer;
	background-color: #ff9142;
}

iframe {
	background-color: #e9ecef;
	border:none; 
	overflow:hidden; 
	width:235px; 
	height:212px;
}